*.cmake
*.o
Feature_Capture/CMakeFiles/
Feature_Capture/Scanner
Feature_Capture/Robot
Feature_Capture/load
*Cache*
*.a
*.features
Feature_Capture/.vscode/settings.json
Feature_Capture/src/CMakeFiles/*
Feature_Capture/src/Makefile
Feature_Capture/Makefile

